[project]
	description = ETSI NWM Test Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Denis Filatov (DanyaFilatov)
[access "refs/for/refs/*"]
	read = group user/Denis Filatov (DanyaFilatov)
	push = group user/Denis Filatov (DanyaFilatov)
	label-Code-Review = -2..+2 group user/Denis Filatov (DanyaFilatov)
	label-Verified = -1..+1 group user/Denis Filatov (DanyaFilatov)
	rebase = group user/Denis Filatov (DanyaFilatov)
	removeReviewer = group user/Denis Filatov (DanyaFilatov)
	submit = group user/Denis Filatov (DanyaFilatov)
[access "refs/heads/*"]
	read = group user/Denis Filatov (DanyaFilatov)
	create = group user/Denis Filatov (DanyaFilatov)
	push = +force group user/Denis Filatov (DanyaFilatov)
	pushMerge = group user/Denis Filatov (DanyaFilatov)
[access "refs/tags/*"]
	push = group user/Denis Filatov (DanyaFilatov)
	push = +force group user/Denis Filatov (DanyaFilatov)
